// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #9AE19D;
$gray: #000000;
$light-gray: #F4F4F4;

$app-green: rgb(58,218,106);
$dark-green: #35605A;
$light-green: #E3F6E4;

$background-gray: #ECEEF1;

$text-gray: #393E41;
$text-black: #001514;

// #CED3DC;
