<!-- <h3 class="english-name notranslate"><%= @allergy.name %></h3>
<h5 class="warning">Warning!</h5>
<p class="message">This person suffers from food allergies</p>
<h4 class="translated-name"><%= @allergy.name %></h4>
<p class="language-name"></p>

<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>
 -->
