.allergies-container {
  padding-top: 100px;
  padding-bottom: 50px;
  justify-content: flex-start;
}
.create-user-allergy {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.back-btn {
  // margin-bottom: 20px;
}
.allergy-form {
  display: flex;
}

.allergy-containter {
  opacity: 1;
}
