.allergies-container {
  // padding-top: 50px;
  // padding-bottom: 50px;
  justify-content: flex-start;
}
.create-user-allergy {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.back-btn {
  // margin-bottom: 20px;
}
.allergy-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.allergy-container {
  opacity: 0;
}
.loading-animation {
  position: relative;
  justify-content: space-around;
}
.submit-allergy-button {
  margin-top: 8px;
  background-color: $background-gray;
}
