.countries-container {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}
.create-user-country {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.previous-user-countries {
  width: auto;
  h4 {
    color: $text-gray;
    border-bottom: 2px solid $red;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
}
.previous-countries {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  p {
    padding: 0 10px;
    margin: 0 5px;
    a {
    color: $text-gray;
    &:hover {
      text-decoration: none;
      color: white;
      // opacity: 0.;

    }
  }
  }
}
.previous-country {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #C4C8CE;
  border: 0;
  &:hover {
    background-color: #B0B4B9;
  }
}
.explanation {

}
