// Specific CSS for your home-page
body {
  top: 0 !important;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  color: $text-gray;
  position: relative;
}
.skiptranslate {
  opacity: 0;
}
.selected {
  font-weight: bold;
}

@media all and (max-width: 750px) {
  h1 {
    font-size: 40px;
    margin-right: 0px;
    margin-left: 0px;
  }
}

