// Specific CSS for your home-page
body {
  top: 0 !important;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  color: $text-gray;
  position: relative;
}
.skiptranslate {
  opacity: 0;
}
.selected {
  font-weight: bold;
}

@media all and (max-width: 750px) {
  h1 {
    font-size: 40px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
.app-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px solid $app-green;
  width: 100vw;
  position: relative;
  h2 {
    padding-bottom: 20px;
    margin-top: 0;
  }
  h1 {
    border: none;
      font-family: 'Milonga', cursive;
      color: $app-green;
  }
  .initial-buttons{
    // margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 90%;
    right: center;
    a {
      margin: 0 5px;
    }
  }

}
.app-instruction {
  position: relative;
  text-align: center;
  margin: 10px;
  // margin-top: 30px;
  border: 1px solid $light-green;
  border-radius: 10px;
  background-color: white;
  // width: 300px;
  padding: 0;
  width: 95vw;
  // padding: 0 50px;
  // padding: 0 5vw;
  display: flex;
  flex-wrap: wrap;
  height: 230px;
  justify-content: space-between;
  align-items: center;
  h3 {
    width: 50%;
    margin: 0;
    color: $text-black;
  }
  div {
    width: 50%;
    height: 230px;
    // background-image: url(image_path('globe.png'));
    background-size: cover;
    background-position: center 40%;
  }
}
.first-instruction {
  margin-top: 50px;
  h3 {
    padding: 0 10px;
  }
}
.image-last {
  background-position: bottom !important;
}
.left {
  // padding-right: 0;
  h3 {
    // text-align:left;
  }
  div {
    border-radius: 0 10px 10px 0;
  }
}
.right {
  // padding-left: 0;
  h3 {
    // text-align:right;
  }
  div {
    border-radius: 10px 0 0 10px;
  }
}
.rotate {
  width: auto;
  height: 25vw;
  transform:          rotate(270deg);
  -ms-transform:      rotate(270deg);
  -moz-transform:     rotate(270deg);
  -webkit-transform:  rotate(270deg);
  -o-transform:       rotate(270deg);
  // background-position: bottom;
  // background-size: cover;
  margin: 20px 80px;
  // margin-bottom: 40px;
}
@media all and (max-width: 750px) {
  .app-instruction {
    // display: block;
    justify-content: center;
    h3 {
      width: 80vw;
      z-index: 1;
    font-weight: 500;
    padding: 0;
    text-shadow: 2px 2px #d3d3d3;
    }
    div {
      position: absolute;
      top: center;
      right: center;
      border-radius: 10px;
      height: 100%;
      width: 100%;
      // background: linear-gradient(-225deg, rgba(227,246,228,0.5) 0%, rgba(227,246,228,0.6) 50%);
    }
  }
  .app-info {
    max-width: 100vw;
    padding: 0 10px;
  }
}
