.translation-container {
  justify-content: space-between;
  img {
    margin: 10px;
  border-radius: 10px;

  }
  h2 {
    margin-top: 30px;
    min-width: 60px;
    i {
      margin-right: 15px;
      color: red;
    }
  }
  h3 {
    margin: 60px 0;
  }
}
.translate-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}
.translation-image {
  display: flex;
  justify-content: center;
  align-items: center;
  h2{
    position: relative;
  }
  .switch {
    position: absolute;
    left: 100%;
    top: -15%;
  }
}
@media all and (max-width: 750px) {
  .translate-info {
    width: 80vw;
  }
}
