.user-container {
  justify-content: space-between;
  padding-bottom: 50px;
}
.change-country {
  .fas {
    font-size: 20px;
  }
}
.user-allergies-list {
  margin-top: 20px;
  flex-grow: 1;
  font-size: 25px;
  min-width: 300px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  ul {
    padding-inline-start: 0px;
  }
  a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &:hover {
      text-decoration: none;
      color: green;
      opacity: 0.5;
    }
  }
}
.add-text {
  padding-bottom: 10px;
  color: green;
  cursor: pointer;
}
.user-allergy {
  background-color: white;
  margin: 5px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
  position: relative;
  .link-to-translation {
    text-align: left;
    padding-left: 4px;
    padding-right: 8px;
  }
  a {
    height: auto;
    color: gray;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
  .cross {
    position: absolute;
    right: 10px;
    display: flex;
    padding-top: 6px;
    padding-left: 10px;
    font-size: 20px;
    color: red;
    &:hover {
      color: red;
      opacity: 0.5;
    }
  }
}
.add-allergy {
  margin-bottom: 10px;
  border-radius: 50%;
  border: 3px solid $app-green;
  height: 50px;
  width: 50px;
  i {
    color: $app-green;
    text-align: center;
    &:hover {
      color: $app-green;
    }
  }
}
.emergency-contacts-link {
  padding: 10px;
  a {
    color: red;
    &:hover {
      text-decoration: none;
      color: red;
      font-weight: bold;
    }
  }
}


@media all and (max-width: 750px) {
  .user-allergies-list {
    ul {
      min-width: 0;
      justify-content: center;
    }
    li {
      min-width: 0;
      width: 90vw;
    }
  }
}
