.user-edit-container {
  justify-content: space-between;
}
.translations-page {
  flex: 1;
}
.edit-user-form {
  input {

    // text-align: center;
    // margin: 10px;
    // border: 1px solid $light-green;
    // border-radius: 10px;
    // background-color: white;
  }
}
.page-look-like {
  text-align: center;
  margin: 10px;
  border: 1px solid $light-green;
  border-radius: 10px;
  background-color: white;

}
