.user-container {
  justify-content: flex-start;
  // padding-bottom: px;
}
// .change-country {
//   .fas {
//     font-size: 20px;
//   }
// }
.user-info {

}
.user-allergies-list {
  margin-top: 20px;
  flex-grow: 1;
  font-size: 25px;
  min-width: 300px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  ul {
    padding-inline-start: 0px;
    // justify-content: space-around;
  }
  a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &:hover, &:active, &:focus {
      text-decoration: none;
      color: $green;
      opacity: 0.5;
      outline: none !important;

    }
  }
}
.add-text {
  font-size: 27px;
  padding-bottom: 10px;
  color: $app-green;
  cursor: pointer;
}
.user-allergy {
  margin: 10px;
  border: 1px solid $light-green;
  border-radius: 10px;
  background-color: white;
  // margin: 5px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 3px 10px;
  position: relative;
  .link-to-translation {
    text-align: left;
    padding-left: 4px;
    padding-right: 8px;
    align-items: flex-start;
  }
  a {
    flex-grow: 1;
    height: auto;
    color: gray;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
  .allergy-cross {
    position: absolute;
    right: 10px;
    text-align: right;
    top: 8px;
    // display: flex;
    padding-top: 6px;
    padding-left: 10px;
    font-size: 20px;
    color: red;
    &:hover {
      color: red;
      opacity: 0.5;
    }
  }
}
.add-allergy {
  margin-bottom: 10px;
  border-radius: 50%;
  border: 3px solid $app-green;
  height: 50px;
  width: 50px;
  i {
    color: $app-green;
    text-align: center;
    &:hover, &:active, &:focus {
      color: $green;
    }
  }
}
.emergency-contacts-link {
  padding: 10px;
  margin: 10px 0;
  a {
    font-size: 23px;
    color: red;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: red;
      font-weight: normal;
    }
  }
}
.change-language {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.translate-all {
  display: initial !important;
  font-size: 20px !important;
  &:hover {
    color: $app-green !important;
  }
}

@media all and (max-width: 750px) {
  .user-allergies-list {
    ul {
      min-width: 0;
      justify-content: center;
    }
    li {
      min-width: 0;
      width: 80vw;
    }
  }
  .user-info {
    width: 80vw;

  }
}
