<div class="wrapper countries-container">
  <h1>Choose a Language</h1>

  <div class="create-user-country">
    <%= form_tag user_path(current_user), class: "form", autocomplete: :off, method: :patch do %>
      <%= text_field_tag :language_name,
      params[:language_name],
      class: "form-control search-input",
      placeholder: "Add Language" %>
    <% end %>

    <div class="list">
      <ul class="results">
        <% Language.all.order("name").each do |language| %>
        <li class='hidden'>
          <p class="btn btn-danger"><%= language.name %></p>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= link_to "Back", user_path(current_user), class: "btn btn-info previous-country" %>
</div>
