<% if notice %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%# if alert.class != "Array" %>
    <% alert %>
    <%# else %>
    <%# alert.each do |a| %>
    <%#= a != alert[-1] ? "#{a}, " : "#{a}" %>
    <%# end %>
    <%# end %>
  </div>
<% end %>
