<div class="container countries-container">

  <!-- if logged in, give option to choose a country -->
  <% if user_signed_in? %>
  <div class="create-user-country">
    <form id="form">
      <input type="text" class="form-control search-input country-form", placeholder="Where are you?", autocomplete="off">
    </form>

    <div class="list">
      <ul class="results country-results">
        <% @countries.order("name").each do |country| %>
        <li class='hidden btn btn-danger'>
          <%= link_to country.name, country_user_countries_path(country), method: :post %>
        </li>
        <% end %>
      </ul>
    </div>

    <% if @user_countries.all.empty? %>
      <div class="explanation">
        Select the country you are in or you are traveling to. This should be the country of the language that you want your allergies to be translated to.
      </div>
    <% end %>
  </div>

  <!-- put last three user countries -->
  <div class="previous-user-countries">
    <% if @user_countries.all.order("updated_at").count >= 1 %>
    <h4>Your previously selected countries:</h4>
    <div class="previous-countries">
      <% @user_countries.all.order("updated_at").last(3).each do |country| %>
      <p class="btn btn-info previous-country"><%= link_to country.country.name, country_user_countries_path(country.country), method: :post %></p>
      <% end %>
    </div>
    <% end %>
  </div>

  <% else %>

  <!-- display info about the app if not logged in -->
  <div class="about-app">
    <h2>Allergies Translate App</h2>
    <p>This APP allows you to choose the country you are in, add allergies to your account, and instantly translate those allergies into the language of the country you are in. Your allergies and translations are then saved for later use.</p>
    <p>Please <%= link_to "log in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to continue.</p>
  </div>
  <% end %>
</div>

