<div class="wrapper countries-container">
  <h1>Select a Country</h1>

  <div class="create-user-country">
    <%= form_tag user_path(current_user), class: "form", autocomplete: :off, method: :patch do %>
    <%= text_field_tag :country_name,
    params[:country_name],
    class: "form-control search-input typed-text" %>
    <% end %>

    <div class="list">
      <ul class="results">
        <% Country.all.order("name").each do |country| %>
        <li class='hidden'>
          <p class="button <%= "current" if country.id == current_user.country_id %>"><%= country.name %></p>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <%#= link_to "Back", user_path(current_user), class: "btn btn-info previous-country" %>
</div>
