.button {
  padding: 10px 20px;
  margin: 0px;
  font-weight: 600;
  border-radius: 25px;
  border: 3px solid $text-gray;
  cursor: pointer;
  text-align: center;
  color: $text-gray;
  &:active, &:focus, &:hover {
    border-color: $app-green;
    outline: none;
    color: $app-green;
    text-decoration: none;
    a {
      text-decoration: none;
      color: $app-green;
    }
  }
  a {
    color: $text-gray;
    max-width: 90vw;
    text-align: center;
  }
}
.current {
  border-color: $app-green;
  color: $app-green;
  a {
    color: $app-green;
  }
}

.back-btn {
  border-radius: 10px;

}
.select-btn {
  font-weight: 400;
  margin: 5px;
  color: $text-gray;
  &:hover {
    text-decoration: none;
  }
}
.change-btn {
  color: $app-green;
  border: none;
  padding: 0 20px;
  font-weight: 400;
  &:hover {
    color: $green;
  }
}
