.container {
  flex-grow: 1;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  background-color: $background-gray;
}
