.simple_form {
  margin: 40px 0 40px 0;
}

.form-inputs {

  .form-group {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input {
    text-align: center;
    margin: 10px;
    border: 1px solid $light-green;
    border-radius: 10px;
    background-color: white;
    padding: 3px 10px;

    &:active, &:focus {
      box-shadow: none;
      outline: none;
      border: 1px solid $light-green;

    }
  }
}
.form-actions {
}
.other-devise-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.other-link {
  color: $app-green;
  font-weight: 600;
  background-color: $background-gray;
  padding-right: 0;
  padding-left: 0;

  &:hover, &:active, &:focus {
    outline: none;
    // font-weight: 400;
    text-decoration: none;
    color: $green;
  }
}
.cancel-account {
  color: red;
  margin-left: 10px;
  &:hover, &:active, &:focus {
    color: $red;

  }
}
@media all and (max-width: 750px) {
  .form-inputs {
    max-width: 80vw;
  }
}
