.search-input {
  width: auto;
  text-align: center;
  margin: 10px;
  border-color: $light-green !important;
  border-radius: 10px;
  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }
}

@media all and (max-width: 750px) {
  .search-input {
    width: 80vw;
  }
}
