.wrapper {
  flex-grow: 1;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  background-color: $background-gray;
}

h1 {
  background-color: $light-green;
  width: 100vw;
  margin: 0;
  padding: 20px;
  margin-bottom: 10px;
}
