.wrapper {
  flex-grow: 1;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  max-width: 100vw !important;
  background-color: $background-gray;
  padding-bottom: 30px;
}

h1 {
  border-bottom: 5px solid $app-green;
  min-width: 500px;
  margin: 0;
  padding: 20px;
  padding-bottom: 15px;
  margin-bottom: 7px;
  max-width: 100vw !important;
}

@media all and (max-width: 750px) {
  h1 {
    min-width: 0;
    width: 100vw;
    font-size: 36px !important;
  }
  h2 {
    font-size: 30px;
  }
}
